.hero {
  width: 100%;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  overflow: hidden;
}
.hero-left {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 18rem;
  line-height: 1.1;
}
.hero-left p {
  color: #090909;
  font-size: var(--banner-text-p);
  font-weight: 600;
}

.hero-left h2 {
  color: #171717;
  font-size: var(--banner-text-h2);
  font-weight: 700;
}
.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero-hand-icon img {
  width: 10.5rem;
}
.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 31rem;
  height: 7rem;
  border-radius: 7.5rem;
  margin-top: 3rem;
  background: #ff4141;
  color: #fff;
  font-size: var(--banner-text-btn);
  font-weight: 500;
  cursor: pointer;
}
.hero-right {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img {
  max-height: 100%;
  max-width: 100%;
  margin-right: -5rem;
}
@media (max-width: 1280px) {
  .hero-left {
    padding-left: 10rem;
  }
  .hero-left p {
    font-size: var(--1280px-banner-text-p);
  }
  .hero-left h2 {
    font-size: var(--1280px-banner-text-h2);
  }
  .hero-hand-icon img {
    width: 8rem;
  }
  .hero-latest-btn {
    gap: 1rem;
    width: 25rem;
    height: 6rem;
    margin-top: 2rem;
    font-size: var(--1280px-banner-text-btn);
  }
}
@media screen and (max-width: 1000px) {
  .hero-hand-icon img {
    width: 7rem;
  }
}
@media screen and (max-width: 900px) {
  .hero {
    padding: 3rem 5%;
  }
  .hero-left {
    padding: 0;
  }

  .hero-hand-icon img {
    width: 7rem;
  }
  .hero-latest-btn {
    width: 22rem;
    height: 6rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
  }
  .hero-right img {
    max-height: 90%;
    margin: 0;
    display: none;
  }

  .hero-right {
    align-items: flex-start;
    max-height: min-content;
    flex: 6;
  }
  .hero-left {
    flex: 4;
    padding: 0;

    text-align: center;
  }
  .hero-hand-icon {
    justify-content: center;
  }
}
