.loginsignup {
  width: 100%;
  background: #fce3fe;
  padding: 100px 15px;
}
.loginsignup-container {
  width: 580px;
  max-width: 100%;

  background: white;
  margin: auto;
  padding: 40px 60px;
}
.loginsignup-container h1 {
  margin: 20px 0px;
}
.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.loginsignup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}
.loginsignup-container button {
  width: 580px;
  max-width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .loginsignup-container {
    padding: 4rem 6rem;
  }
  .loginsignup-container h1 {
    font-size: 3rem;
    text-align: center;
  }
  .loginsignup-fields {
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .loginsignup-fields input {
    height: 5.4rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
  .loginsignup-fields input::placeholder {
    font-size: 1.6rem;
  }
  .loginsignup-container button {
    height: 5.4rem;
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  .loginsignup-login {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }
  .loginsignup-agree {
    margin-top: 1.5rem;
    gap: 1rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  .loginsignup-container {
    padding: 4rem 4rem;
  }
  .loginsignup-container h1 {
    font-size: 2.5rem;
  }

  .loginsignup-fields input {
    font-size: 1.4rem;
  }
  .loginsignup-fields input::placeholder {
    font-size: 1.4rem;
  }
  .loginsignup-login {
    font-size: 1.4rem;
  }
  .loginsignup-agree {
    font-size: 1.4rem;
  }
}
