.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 100%;
}
.shopcategory-indexSort {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopcategory-sort p span {
  font-weight: 600;
}
.shopcategory-products {
  width: 95%;
  margin: 5rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .shopcategory-loadmore {
    margin: 100px auto;
    width: 16rem;
    height: 4.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .shopcategory-loadmore {
    margin: 70px auto;
    width: 14rem;
    height: 4rem;
    font-size: 1.4rem;
  }
  .shop-category {
    overflow: hidden;
  }
  .shopcategory-banner {
    min-width: 200%;
  }
  .shopcategory-indexSort {
    font-size: 1.4rem;
  }
  .shopcategory-sort {
    padding: 0.75rem 1.5rem;

    border: 1px solid #888;
  }
}
