.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 95%;
  margin: 0 auto 10rem;
}
.new-collections h1 {
  color: #171717;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
.new-collections hr {
  width: 20rem;
  height: 0.6rem;
  border-radius: 1rem;
  background: #252525;
}
.collections {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .new-collections h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .new-collections h1 {
    font-size: 3.5rem;
  }
}
