.breadcrum {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #5e5e5e;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 6rem 0%;
  width: 95%;
  max-width: 1400px;
  margin: 6rem auto;

  text-transform: capitalize;
}
@media screen and (max-width: 1280px) {
  .breadcrum {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1024px) {
  .breadcrum {
    margin: 3rem auto;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  .breadcrum {
    margin: 3rem auto;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .breadcrum {
    font-size: 1rem;
  }
}
